@model Otus.Teaching.Pcf.GivingToCustomer.Core.Domain.Preference

@{
    ViewData["Title"] = "Все предпочтения";
    ViewData["ActionTitle"] = "Редактирование";
}

<h1>Предпочтение</h1>

<h4>@Model.Id</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id"/>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-outline-primary  btn-sm" asp-action="Index">Назад к списку</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
