@using Otus.Teaching.Pcf.GivingToCustomer.Core.Domain
@model IEnumerable<Otus.Teaching.Pcf.GivingToCustomer.Core.Domain.Preference>

@{
    ViewData["Title"] = "Все предпочтения";
    ViewData["ActionTitle"] = "Список предпочтений";
}

<p>
    <a class="btn btn-primary  btn-sm" asp-action="Create">Создать</a>
</p>
<table class="table table-striped table-sm .thead-light">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a class="btn btn-outline-primary btn-sm" asp-action="Edit" asp-route-id="@item.Id">Изменить</a>
                <a class="btn btn-outline-primary btn-sm" asp-action="Details" asp-route-id="@item.Id">Посмотреть</a>
                <a class="btn btn-outline-primary btn-sm" asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
    }
    </tbody>
</table>