﻿@model Otus.Teaching.Pcf.GivingToCustomer.Core.Domain.Customer


@{
    ViewData["Title"] = "Все пользователи";
    ViewData["ActionTitle"] = "Удаление";
}

<h3>Вы действительно хотите удалить эту запись?</h3>
<br/>
<div>
    <h4>Пользователь: @Model.Id</h4>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id"/>
        <input type="submit" value="Delete" class="btn btn-primary"/> <br/><br/>
        <a class="btn btn-outline-primary  btn-sm" asp-action="Index">Назад к списку</a>
    </form>
</div>
