﻿@model Otus.Teaching.Pcf.GivingToCustomer.Core.Domain.Customer

@{
    ViewData["Title"] = "Все пользователи";
    ViewData["ActionTitle"] = "Информация о пользователе";
}


<div>
    <h1>Пользователь</h1>

    <h4>@Model.Id</h4>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
    <dl >
        <dt class="col-sm-2">Предпочтения</dt><br/>
        @foreach (var item in Model.Preferences)
        {
            <dd >
                @item
            </dd>
        }
    </dl>

</div>
<div>
    <a class="btn btn-primary  btn-sm" asp-action="Edit" asp-route-id="@Model.Id">Редактировать</a>
    <a class="btn btn-outline-primary  btn-sm" asp-action="Index">Назад к списку</a>
</div>
